* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  font-size: 16px; }

.index__image {
  height: 100vh;
  display: grid;
  place-items: start center; }

.index__reload {
  margin-top: 2rem;
  width: 13rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: #2ba1d8;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #026492;
  transition: all 0.1s linear; }
  .index__reload i {
    margin-left: 0.35rem;
    transition: all 0.3s linear; }
  .index__reload:hover {
    background-color: #227da7; }
    .index__reload:hover i {
      transform: rotate(360deg); }
